@import url("https://fonts.googleapis.com/css?family=Space%20Grotesk:700|Space%20Grotesk:400");

:root {
  /*  change this for scaling  */
  --m: 2rem;

  --red: #ff6565;
  --pink: #ff64f9;
  --purple: #6b5fff;
  --blue: #4d8aff;
  --green: #5bff89;
  --yellow: #ffee55;
  --orange: #ff6d1b;
}

.animated-border {
  border: 2px solid transparent;
  position: relative;
  color: #fff;
  font-family: "Space Grotesk", sans-serif;
  font-size: 1rem; /* Smaller font size */
  border-radius: 10px;
  padding: 0.5rem 0.8rem; /* Reduced padding for narrower width */

  max-width: 200px; /* Set maximum width */
  width: 100%;
  display: flex;
  justify-content: center;
  cursor: pointer;
  background: linear-gradient(#121213, #121213),
    linear-gradient(#121213 50%, rgba(18, 18, 19, 0.6) 80%, rgba(18, 18, 19, 0)),
    linear-gradient(
      90deg,
      var(--orange),
      var(--yellow),
      var(--green),
      var(--blue),
      var(--purple),
      var(--pink),
      var(--red)
    );
  background-origin: border-box;
  background-clip: padding-box, border-box, border-box;
  background-size: 200%;
  animation: animate 2s infinite linear;
}

.animated-border::before {
  content: "";
  background: linear-gradient(
    180deg,
    var(--orange),
    var(--yellow),
    var(--green),
    var(--blue),
    var(--purple),
    var(--pink),
    var(--red)
  );
  height: 90%;
  width: 60%;
  position: absolute;
  bottom: -20%;
  z-index: -5;
  background-size: 200%;
  animation: animate 2s infinite linear;
  filter: blur(calc(0.8 * var(--m)));
}

button:hover,
button:hover::before {
  animation: animate 0.5s infinite linear;
}

@keyframes animate {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 200%;
  }
}

@media screen and (max-width: 1000px) {
  :root {
    --m: 0.5rem;
  }

  .animated-border {
    font-size: 0.8rem;
    padding: 0.3rem 0.6rem;
    max-width: 150px;
  }
}
