@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
@keyframes count-up {
  from {
    content: "0";
  }
  to {
    content: var(--final-value);
  }
}

@keyframes animate {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 200%;
  }
}

button:hover,
button:hover::before {
  animation: animate 0.5s infinite linear;
}

/* CSS to maintain space for scrollbar */
body.menu-open nav {
  overflow-y: scroll;
  padding-right: 17px; /* Adjust this value if needed to match the width of your scrollbar */
}

/* Optional: Prevent horizontal scrolling when menu is open */
body.menu-open nav {
  overflow-x: hidden;
}
